*{
    margin: 0px;
    padding: 0px;
}
 b{
    font-size: 20px;
}
.underline-text{
margin-top: 20px;
}
.call-now{
    font-size: 13px;
    text-decoration: none;
    color: black;
}
.call-now :hover{
    color: blue;
}
.bar{
    text-align: center;
    
   background-color: #ffe7ce;
   height: 50px;

}
.navbar{
    background-color: rgb(250, 248, 248);
    height: 80px;
    box-shadow: 0 1px 7px 0px grey;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}
.text{
    margin-top: 30px;
}

.logo-icon{
    height: 40px;
   margin-top: 27px;
   margin-left: 20px;
}

.link{
    text-decoration: none;
    color: #000000;
    margin-top: 30px;
    margin-right: 50px;
}
.rtc{
    margin-top: 34px;
    margin-right: 100px;
    font-size: 21px;
}
.image-vector{
    height: 440px;
    margin-left: 30px;
    display: inline-block;
    width: 440px;
    
}
.courses{
    
    display: flex;
    flex-direction: row;
  justify-content: flex-start;  
}
.quality{
    margin-top: 50px;
    font-size: 43px;
    margin-left: 30px;
}
.lighter{
    font-size: 25px;
    /* font-weight: lighter; */
    /* font-family: Arial, Helvetica, sans-serif; */
}
.btn{
   padding: 10px;
   margin: 15px;
   background-color: black;
   color: white;
   border-radius: 5px;
}
.bg-yellow{
    background-color: rgb(243, 187, 65);
    color: black;
}
h2{
    margin-left: 30px;
    color: rgb(31, 31, 214);
}
.paragraph{
    margin-left: 30px;
    font-size: 30px;
}
.container-1{
    height: 100px;
    width: 270px;
    border: 0.05px solid rgb(141, 201, 224);
    border-radius: 5px;
}
.main-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
}
body{
    background-color: rgb(245, 248, 250);
}

.comfort{
    height: 300px;
   margin-left: 50px;
   
}
h1{
    text-align: center;
    margin-top: 100px;
}
.course-card
{
    height: 500px;
    width: 280px;
    background-color: whitesmoke;
    box-shadow: 1px 0 5px 1px gray;
    padding: 3px;
}
.container-2{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.yellow-img{
    height: 300px;
}
.subcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.main{
   padding: 5px 0 5px 10px;
   height: 35px;
}
.text-of-session{
    font-size: 20px;
  font-style: normal;
  margin-left: 16px;
}
.img-cource-card{
    height: 200px;
    width: 280px;
   
}
.intern{
    text-align: center;
    font-size: 22px;
}
.container-containt{
    font-weight: lighter;
    text-align: justify;
    margin-top: 10px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.icon-cal{
    height: 30px;
    margin-top: 10px;
}

.cal{
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.price-course{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
.BTN{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20PX;
    padding: 7px ;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.span-underline{
    border-bottom: 5px double green;
}
.span-underline-main{
    border-bottom: 2px solid rgb(175, 71, 71);
    
}
.our-team{
    height: 400px;
    width: 200px;
    background-color: #ffff;
    box-shadow: 2px 1px 3px 1px rgb(190, 186, 186);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.our-team:hover{
 
   margin-top: -10px;
    box-shadow: 0px 2px 1px 2px lightslategray;
    transition: 0.05s;
}
.team-members{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    
}
.Rtc-team{
 
    width: 200px;
    
}
.height{
    height: 250px;
}
.name-of-mem{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flexible{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}